services:
  db:
    image: postgres:14
    environment:
      POSTGRES_USER: hospital
      POSTGRES_PASSWORD: F1UFDk8H36Ry2RITAvnErulW
      POSTGRES_DB: hospital_db
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "55432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U hospital -d hospital_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  db-data:
